body {
  overflow: hidden;
}

.App {
  background: linear-gradient(white, black);
  margin: 0;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.dice {
  margin-top: 50px;
}

footer {
  margin-top: 50px;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

